{% extends "base.html" %}
{% block title %}Consulta{% endblock title %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">País</th>
            <th scope="col">Estado</th>
            <th scope="col">Cidade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Filipe</td>
            <td>Brasil</td>
            <td>Mato Grosso</td>
            <td>Cuiabá</td>
        </tr>
    </tbody>
</table>
{% endblock content %}