{% extends "base.html" %}
{% block title %}Consulta{% endblock title %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">País</th>
            <th scope="col">Estado</th>
            <th scope="col">Cidade</th>
        </tr>
    </thead>
    <tbody>
        {% for pessoa in pessoas %}
        <tr>
            <th scope="row">{{pessoa.id}}</th>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.pais}}</td>
            <td>{{pessoa.estado}}</td>
            <td>{{pessoa.cidade}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}