<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cadastro</title>
</head>

<body>
    <main class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-2">
                <label for="nome" class="form-label">Nome</label>
                <input name="nome" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <label for="pais" class="form-label">País</label>
                <input name="pais" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <label for="estado" class="form-label">Estado</label>
                <input name="estado" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <label for="cidade" class="form-label">Cidade</label>
                <input name="cidade" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>